@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-dark: #282829;
  --color-brand-gray: #848688;
  --color-brand-red: #883336;

  --color-brand-dark-light: #3f3f41;
  --color-brand-gray-light: #b0b2b4;
  --color-brand-red-light: #a84d50;
  --color-brand-red-dark: #6a2628;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,  Helvetica, Arial, sans-serif;
}
